DATABASE_URL=postgresql+asyncpg://postgres:Shakthi%40777@localhost:5432/promptcraft
JWT_SECRET=Shakthi@777
GMAIL_USER=shakthikun777@gmail.com
GMAIL_APP_PASS=sxka xrdl iewm zbsx
OLLAMA_URL=http://localhost:11434/api/generate
OLLAMA_MODEL=qwen2.5:1.5b